{% include 'header.html' %}

  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>What's New?</h6>
            <h2>Edit Cafe Listings</h2>
          </div>
        </div>
        <div class="col-lg-12 ">
           <div>
               {% if errors  in form.query.errors %}
               {% for error in errors %}
               <div class = "alert alert-danger " style="margin:1% 25%;" role = 'alert'>
                    {{ error }}
                 </div>
               {% endfor %}
               {% endif %}
            </div>
          <form id="search-form" class="forms" style="margin: 1% 15%; padding: 3%;" method="post"  >
                {{ form.csrf_token }}
            <div class="row">
              <div class="col-lg-4 align-self-center">
                  <fieldset>
                    {{ form.select(class_ = 'form-select') }}
                  </fieldset>
              </div>
              <div class="col-lg-4 align-self-center">
                  <fieldset>
                    {{ form.query(class_="searchText", placeholder="Enter a location") }}
                  </fieldset>
              </div>
              <div class="col-lg-4 align-self-center">
                      {{ form.submit(class_ = "main-button") }}

              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
